.login {
    margin-bottom:5px;
}
.dropdown-menu {
    width: 300px !important;
}
header {
    z-index: 5;
}

#logo {
    fill: aqua;
}

h2{
    text-align: center;
    padding: 20px;
  }

#navbar-opacity {
    opacity: 90%;
}

#techbg {
    background-color: aquamarine;
}

#face {
    max-height: 300px;
}

/* @keyframes example {
    to {color:blue}
  } */

  /* The element to apply the animation to */
  /* #anim-test {
    animation-name: example;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  } */
  

.bi-linkedin:hover {
    color: white;
}
.bi-github:hover {
    color: white;
}
.bi-twitter:hover {
    color: white;
}

#btw:hover{
    color: blue;
}